<div class="section section-dark">
  <div class="container">
    <div class="row example-page">
      <div class="col-md-6 text-center">
        <a>
          <img src="./assets/img/landing-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
          <a class="btn btn-outline-neutral btn-round">Landing Page</a>
        </a>
      </div>

      <div class="col-md-6 text-center">
        <a>
          <img src="./assets/img/profile-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
          <a class="btn btn-outline-neutral btn-round">Profile Page</a>
        </a>
      </div>
    </div>
  </div>
</div>
